{% set title = node.title.value | raw %}
<article class="page-container">

  <header role="banner">
    <div class="region-wrapper">
      <h1>{{ title }}</h1>
      {{ page.header }}
    </div>
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <div class="main-content-wrapper">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <section class="layout-content">
        {{ page.content }}
      </section>{# /.layout-content #}

      {% if page.sidebar %}
        <aside class="sidebar" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}
    </div>
  </main>


  <footer role="contentinfo">
    <div class="region-wrapper">
      {{ page.footer }}
      <div class="copy-write">
        <p>&copy;{{ "now"|date("Y") }} {{ site_name }}. All rights reserved. Site by <a href="http://www.encoremultimedia.com/" target="_blank">Encore</a></p>
      </div>
    </div>

  </footer>


</article>{# /.layout-container #}
