{% set title = node.title.value | raw %}

<div class="page">

  <header class="region-wrapper">
    <section class="region region-header">
      {{ page.header }}
      <div class="title-wrapper">
        <h1>{{ title }}</h1>
      </div>
    </section>
  </header>

  {% if page.primary_menu %}
  <div class="region-wrapper primary-menu">
    {{ page.primary_menu }}
  </div>
  {% endif %}

  {{ page.breadcrumb }}
  {{ page.message_center }}

  <main role="main">
    <article class="main-content-wrapper region-wrapper">
      <a id="main-content" tabindex="-1"></a>
        <section class="region region-content">
          {% if page.sidebar %}
            <aside class="sidebar" role="complementary">
              {{ page.sidebar }}
            </aside>
          {% endif %}
          {{ page.content }}
        </section>
    </article>
  </main>

  <footer class="region-wrapper">
     <section class="region-footer">
       {{ page.footer }}
       <div class="copy-write">
         <p>&copy;{{ "now"|date("Y") }} {{ site_name }}. All rights reserved. Site by <a href="http://www.encoremultimedia.com/" target="_blank">Encore Multimedia</a></p>
       </div>
     </section>
  </footer>
</div>
